<div class="jumbotron">
<h1><%= @actor.name %></h1>

  <h3>Movies</h3>
  <ul>
    <% @actor.movies.each do |role| %>
    <li>
      <%= link_to "#{role.title} (#{role.year})", movie_path(role) %>
      <%= button_to "X", remove_movie_path(@actor, role), class:'btn btn-xs btn-danger', :method => :delete %>
    </li>
    <% end %>
  </ul>
  <% unless @movies.empty? %>
    <%= form_tag add_movie_path do |f|%>
      <%= collection_select :movie, :id, @movies, :id, :title %>
      <%= submit_tag "Add", class:'btn btn-xs btn-success' %>
    <% end %>
  <% end %>

  <%= link_to "Edit", edit_actor_path(@actor) %>
  <%= button_to "Delete", actor_path(@actor), class:'btn btn-xs btn-danger', :method => :delete %>
  <br><br>

  <%= link_to "Back to actors", actors_path %>

</div> <!-- end jumbotron -->

<%= render partial: 'partials/comments', locals: {comments: @comments, commentable: @actor} %>
<%= render partial: 'partials/add_comments', locals: {comments: @comments, commentable: @actor}%>


