<br>
<div class="jumbotron">
  <h1><%= @movie.title %></h1>

  <p><%= @movie.year %></p>


  <h3>Actors</h3>
  <ul>
    <% @movie.actors.each do |actor| %>
    <li>
      <%= link_to actor.name, actor %> -
      <%= button_to "X", remove_actor_path(@movie, actor), class:'btn btn-xs btn-danger', :method => :delete %>
    </li>
    <% end %>
  </ul>
  <% unless @actors.empty? %>
    <%= form_tag add_actor_path(@movie), class:'form-horizontal' do %>
      <div class="form-group">
        <%= collection_select :actor, :id, @actors, :id, :name %>
        <%= submit_tag "Add", class:'btn btn-xs btn-success' %>
      </div>
    <% end %>
  <% end %>

  <%= link_to "Edit", edit_movie_path(@movie) %><br>
  <%= button_to "Delete", movie_path(@movie), class:'btn btn-xs btn-danger',   :method => :delete %>
  <br><br>

  <%= link_to "Back to movies", movies_path %>
</div>



<%= render partial: 'partials/comments', locals: {comments: @comments, commentable: @movie} %>
<%= render partial: 'partials/add_comments', locals: {comments: @comments, commentable: @movie}%>
